$primary-color: #22bfee;
$marginPaddingRadios: 5px;
$submitBtnColor: #22C010;
$errorColor: #e40033;
$whiteBG: rgba(255,255,255,0.6);
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("http://wallpapercave.com/wp/iKd4wfO.jpg");
}

.wrapper{

  width: 920px;
  margin: 0 auto;
}

table{
  border: 1px solid $primary-color;
  margin: $marginPaddingRadios;
  border-radius: $marginPaddingRadios;
  display: block;
  tbody{
    background-color:$whiteBG
  }
  th{
    background-color: $primary-color;
    color: white;
    padding: 14px;
    width: 140px;
  }
  td{
    color: $primary-color;
    border-right: 1px solid $primary-color;
    text-align: center;
    font-size: 1.2em;
  }


}



button{
  background-color: $submitBtnColor;
  border: 1px solid $primary-color;
  color: white;
  border-radius: $marginPaddingRadios;
  width: 60px;
  margin: $marginPaddingRadios;
  font-size: 0.8em;
}
.deleteCar{
  background-color: $errorColor;
}


input{
  border:1px solid $primary-color;
  border-radius: $marginPaddingRadios;
  min-width: 30px;
}

p{
  font-size: 10px;
  font-style: italic;
  color: $errorColor;
}





.wrapperField{
  display: inline-block;
}
label{
  display: block;
  color: $primary-color;
}
form{

  padding: $marginPaddingRadios;
  margin: $marginPaddingRadios;
  display: block;
  border: 1px solid $primary-color;
  border-radius: $marginPaddingRadios;
  background-color:$whiteBG;
}

p{
  color: $errorColor;
}